In [1]:
import pandas as pd
df = pd.read_csv('Airbnb_India_Top_500.csv')
df.head(3)

,address,isHostedBySuperhost,location/lat,location/lng,name,numberOfGuests,pricing/rate/amount,roomType,stars
0,"Manali, Himachal Pradesh, India",False,32.22330,77.18228,HighQ Manali / Deluxe Room,3,8946,Room in hotel,NaN
1,"Manali, Himachal Pradesh, India",False,32.22352,77.18152,Highq manali / 3 BHK Cottage,9,9124,Room in hotel,NaN
2,"Goa, India",False,15.50400,73.86600,Best view of the river from your terrace 04,4,9900,Private room in home,4.0

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   address              500 non-null    object
 1   isHostedBySuperhost  500 non-null    bool
 2   location/lat         500 non-null    float64
 3   location/lng         500 non-null    float64
 4   name                 500 non-null    object
 5   numberOfGuests       500 non-null    int64
 6   pricing/rate/amount  500 non-null    int64
 7   roomType             500 non-null    object
 8   stars                196 non-null    float64
dtypes: bool(1), float64(3), int64(2), object(3)
memory usage: 31.9+ KB

In [3]:
df.isnull().sum()

address                  0
isHostedBySuperhost      0
location/lat             0
location/lng             0
name                     0
numberOfGuests           0
pricing/rate/amount      0
roomType                 0
stars                  304
dtype: int64

In [16]:
# df[['City','State']] = df['address'].str.split(",", n=1,expand=True)
# df['State'] = df['State'].str.strip().title()
# df['City'] = df['City'].str.strip().title()

df[['City','State']].head()

np.int64(1)

In [9]:
indian_states = [
    'Andhra Pradesh','Arunachal Pradesh','Assam','Bihar','Chhattisgarh',
    'Goa','Gujarat','Haryana','Himachal Pradesh','Jharkhand','Karnataka',
    'Kerala','Madhya Pradesh','Maharashtra','Manipur','Meghalaya','Mizoram',
    'Nagaland','Odisha','Punjab','Rajasthan','Sikkim','Tamil Nadu',
    'Telangana','Tripura','Uttar Pradesh','Uttarakhand','West Bengal',
    'Delhi','Jammu And Kashmir','Ladakh','Puducherry'
]
df[['Part1', 'Part2']] = df['address'].str.rsplit(",", n=1, expand=True)

df['Part1'] = df['Part1'].str.strip().str.title()
df['Part2'] = df['Part2'].str.strip().str.title()

df['City'] = df['Part1']
df['State'] = df['Part2']

df.loc[df['Part1'].isin(indian_states), 'City'] = None
df.loc[df['Part1'].isin(indian_states), 'State'] = df['Part1']

df.drop(['Part1', 'Part2'], axis=1, inplace=True)

In [20]:
# df['City']=df['City'].fillna("Unknown")
df[df['State'].isnull()].index

Index([101], dtype='int64')

In [29]:
print(df.loc[101, 'State'])
print(df.loc[101, 'City'])
print(df.loc[101])
df.dropna(subset=['State'], inplace=True)

None
India
address                                                            India
isHostedBySuperhost                                                False
location/lat                                                    15.50182
location/lng                                                    73.81186
name                   Eternia Villa | Exclusive Pool | Modernised | ...
numberOfGuests                                                        14
pricing/rate/amount                                                 3007
roomType                                                    Entire villa
stars                                                                NaN
City                                                               India
State                                                               None
Name: 101, dtype: object

In [13]:
df1 = pd.read_csv('cleaned_air.csv')
df1.drop(columns=['Unnamed: 0'], inplace=True)
df1.isnull().sum()

address                0
isHostedBySuperhost    0
location/lat           0
location/lng           0
name                   0
numberOfGuests         0
pricing/rate/amount    0
roomType               0
stars                  0
City                   0
State                  0
dtype: int64

In [14]:
df1.to_csv('cleaned_air.csv', index=False)
print("D")

D